**/__pycache__
Fritzing
coc
configstore
gcloud
git
gocode
hub
karabiner/assets
karabiner/automatic_backups
texstudio
yarn
nvim/.vimdid/
nvim/.netrwhist
nvim/spell
/nvim/plugged/*
!/nvim/plugged/vim-snippets
nvim/autoload
nvim/coc-settings.json
screen-256color-italic.terminfo
tmux.terminfo
xterm-256color-italic.terminfo
base16-shell
StardewValley
gh/
iterm2/
nvim/lua/my/compiled_colortype.lua
shell/localrc
k9s/config.yml
k9s/skin.yml
filezilla
.DS_Store
